/* Widget Chart - Image */
img.twitoaster_widget_chart, a img.twitoaster_widget_chart {
	margin: 0;
	padding: 0;
	border: 0;
}

/* Widget Conversation - Replies */
ul.twitoaster_widget_conversation li span.twitoaster_replies {
	background: url(./replies.png) center left no-repeat;
	padding: 4px 0 4px 18px;
	font-weight: normal;
	line-height: 1.6em;
	font-weight: bold;
}

/* Twitter Comments - From Twitoaster */
span.twitoaster {
	background: url(./twitter.png) center left no-repeat;
	padding: 4px 0 4px 16px;
	font-weight: normal;
	line-height: 1.6em;
	font-style: italic;
}
span.twitoaster strong {
	font-weight: normal;
	font-style: italic;
}